# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [3]:
!nvidia-smi

Wed Feb 25 05:41:56 2026
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 580.82.07              Driver Version: 580.82.07      CUDA Version: 13.0     |
+-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  Tesla T4                       Off |   00000000:00:04.0 Off |                    0 |
| N/A   56C    P8             10W /   70W |       0MiB /  15360MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI              PID   Type   Process name                        GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|  No running processes found                                                             |
+-----------------------------------------------------------------------------------------+

In [4]:
import tensorflow as tf
tf.config.list_physical_devices

In [5]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 9228722069862300648
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 14426112000
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 3147341269517223303
 physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"
 xla_global_id: 416903419]

In [6]:
!cat /proc/meminfo

MemTotal:       13286964 kB
MemFree:         7456704 kB
MemAvailable:   11269248 kB
Buffers:          166984 kB
Cached:          3757948 kB
SwapCached:            0 kB
Active:           576936 kB
Inactive:        4671044 kB
Active(anon):       2880 kB
Inactive(anon):  1334580 kB
Active(file):     574056 kB
Inactive(file):  3336464 kB
Unevictable:           8 kB
Mlocked:               8 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               352 kB
Writeback:             0 kB
AnonPages:       1323104 kB
Mapped:          1065236 kB
Shmem:             14372 kB
KReclaimable:     227668 kB
Slab:             282988 kB
SReclaimable:     227668 kB
SUnreclaim:        55320 kB
KernelStack:        5760 kB
PageTables:        22032 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6643480 kB
Committed_AS:    4028768 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       61992 kB
VmallocChunk:          0 kB
Percpu:             1096 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      181040 kB
DirectMap2M:     7155712 kB
DirectMap1G:     8388608 kB

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('forestfires.csv')
df.head(5)

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [10]:
print(df.columns)

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [13]:
X =  df.drop('area', axis=1)
X.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu', 'daytue',
       'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb', 'monthjan',
       'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov', 'monthoct',
       'monthsep', 'size_category'],
      dtype='object')

In [14]:
y = df['area'].values.reshape(-1,1)
y

array([[0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.60000e-01],
       [4.30000e-01],
       [4.70000e-01],
       [5.50000e-01],
       [6.10000e-01],
       [7.10000e-01],
       [7.70000e-01],
       [9.00000e-01],
       [9.50000e-01],
       [9.60000e-01],
       [1.07000e+00],
       [1.12000e+00],
       [1.19000e+00],
       [1.36000e+00],
       [1.43000e+00],
       [1.46000e+00],
       [1.46000e+00],
       [1.56000e+00],
       [1.61000e+00],
       [1.63000e+00],
       [1.64000e+00],
       [1.69000e+00],
       [1.75000e+00],
       [1.90000e+00],
       [1.94000e+00],
       [1.95000e+00],
       [2.01000e+00],
       [2.14000e+00],
       [2.29000e+00],
       [2.51000e+00],
       [2.53000e+00],
       [2.55000e+00],
       [2.57000e+00],
       [2.69000e+00],
       [2.74000e+00],
       [3.07000e+00],
       [3.50000e+00],
       [4.53000e+00],
       [4.61000e+00],
       [4.69000e+00],
       [4.88000e+00],
       [5.23000e+00],
       [5.33000e+00],
       [5.44000e+00],
       [6.38000e+00],
       [6.83000e+00],
       [6.96000e+00],
       [7.04000e+00],
       [7.19000e+00],
       [7.30000e+00],
       [7.40000e+00],
       [8.24000e+00],
       [8.31000e+00],
       [8.68000e+00],
       [8.71000e+00],
       [9.41000e+00],
       [1.00100e+01],
       [1.00200e+01],
       [1.09300e+01],
       [1.10600e+01],
       [1.12400e+01],
       [1.13200e+01],
       [1.15300e+01],
       [1.21000e+01],
       [1.30500e+01],
       [1.37000e+01],
       [1.39900e+01],
       [1.45700e+01],
       [1.54500e+01],
       [1.72000e+01],
       [1.92300e+01],
       [2.34100e+01],
       [2.42300e+01],
       [2.60000e+01],
       [2.61300e+01],
       [2.73500e+01],
       [2.86600e+01],
       [2.86600e+01],
       [2.94800e+01],
       [3.03200e+01],
       [3.17200e+01],
       [3.18600e+01],
       [3.20700e+01],
       [3.58800e+01],
       [3.68500e+01],
       [3.70200e+01],
       [3.77100e+01],
       [4.85500e+01],
       [4.93700e+01],
       [5.83000e+01],
       [6.41000e+01],
       [7.13000e+01],
       [8.84900e+01],
       [9.51800e+01],
       [1.03390e+02],
       [1.05660e+02],
       [1.54880e+02],
       [1.96480e+02],
       [2.00940e+02],
       [2.12880e+02],
       [1.09084e+03],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.01300e+01],
       [0.00000e+00],
       [2.87000e+00],
       [7.60000e-01],
       [9.00000e-02],
       [7.50000e-01],
       [0.00000e+00],
       [2.47000e+00],
       [6.80000e-01],
       [2.40000e-01],
       [2.10000e-01],
       [1.52000e+00],
       [1.03400e+01],
       [0.00000e+00],
       [8.02000e+00],
       [6.80000e-01],
       [0.00000e+00],
       [1.38000e+00],
       [8.85000e+00],
       [3.30000e+00],
       [4.25000e+00],
       [1.56000e+00],
       [6.54000e+00],
       [7.90000e-01],
       [1.70000e-01],
       [0.00000e+00],
       [0.00000e+00],
       [4.40000e+00],
       [5.20000e-01],
       [9.27000e+00],
       [3.09000e+00],
       [8.98000e+00],
       [1.11900e+01],
       [5.38000e+00],
       [1.78500e+01],
       [1.07300e+01],
       [2.20300e+01],
       [9.77000e+00],
       [9.27000e+00],
       [2.47700e+01],
       [0.00000e+00],
       [1.10000e+00],
       [2.42400e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.00000e+00],
       [2.64000e+00],
       [8.64500e+01],
       [6.57000e+00],
       [0.00000e+00],
       [9.00000e-01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.52000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.10000e-01],
       [5.18000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.42900e+01],
       [0.00000e+00],
       [0.00000e+00],
       [1.58000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.78000e+00],
       [0.00000e+00],
       [4.41000e+00],
       [3.43600e+01],
       [7.21000e+00],
       [1.01000e+00],
       [2.18000e+00],
       [4.42000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.33000e+00],
       [6.58000e+00],
       [1.56400e+01],
       [1.12200e+01],
       [2.13000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [5.60400e+01],
       [7.48000e+00],
       [1.47000e+00],
       [3.93000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.18000e+00],
       [6.10000e+00],
       [5.83000e+00],
       [2.81900e+01],
       [0.00000e+00],
       [0.00000e+00],
       [1.64000e+00],
       [3.71000e+00],
       [7.31000e+00],
       [2.03000e+00],
       [1.72000e+00],
       [5.97000e+00],
       [1.30600e+01],
       [1.26000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.12000e+00],
       [1.09000e+00],
       [3.94000e+00],
       [5.20000e-01],
       [2.93000e+00],
       [5.65000e+00],
       [2.00300e+01],
       [1.75000e+00],
       [0.00000e+00],
       [1.26400e+01],
       [0.00000e+00],
       [1.10600e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.83000e+01],
       [3.93500e+01],
       [0.00000e+00],
       [1.74630e+02],
       [0.00000e+00],
       [0.00000e+00],
       [7.73000e+00],
       [1.63300e+01],
       [5.86000e+00],
       [4.28700e+01],
       [1.21800e+01],
       [1.60000e+01],
       [2.45900e+01],
       [0.00000e+00],
       [2.87400e+01],
       [0.00000e+00],
       [9.96000e+00],
       [3.01800e+01],
       [7.07600e+01],
       [0.00000e+00],
       [0.00000e+00],
       [5.17800e+01],
       [3.64000e+00],
       [3.63000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.16000e+00],
       [4.95000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [6.04000e+00],
       [0.00000e+00],
       [3.95000e+00],
       [0.00000e+00],
       [7.80000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.62000e+00],
       [1.63000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [7.46280e+02],
       [7.02000e+00],
       [0.00000e+00],
       [2.44000e+00],
       [3.05000e+00],
       [1.85760e+02],
       [0.00000e+00],
       [6.30000e+00],
       [7.20000e-01],
       [4.96000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.35000e+00],
       [0.00000e+00],
       [3.20000e+00],
       [0.00000e+00],
       [6.36000e+00],
       [0.00000e+00],
       [1.53400e+01],
       [0.00000e+00],
       [0.00000e+00],
       [5.40000e-01],
       [0.00000e+00],
       [6.43000e+00],
       [3.30000e-01],
       [0.00000e+00],
       [1.23000e+00],
       [3.35000e+00],
       [0.00000e+00],
       [9.96000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [6.43000e+00],
       [9.71000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [8.27500e+01],
       [3.32000e+00],
       [1.94000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [3.71000e+00],
       [5.39000e+00],
       [2.14000e+00],
       [6.84000e+00],
       [3.18000e+00],
       [5.55000e+00],
       [6.61000e+00],
       [6.11300e+01],
       [0.00000e+00],
       [3.84800e+01],
       [1.94000e+00],
       [7.03200e+01],
       [1.00800e+01],
       [3.19000e+00],
       [1.76000e+00],
       [7.36000e+00],
       [2.21000e+00],
       [2.78530e+02],
       [2.75000e+00],
       [0.00000e+00],
       [1.29000e+00],
       [0.00000e+00],
       [2.64300e+01],
       [2.07000e+00],
       [2.00000e+00],
       [1.64000e+01],
       [4.67000e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [4.33200e+01],
       [8.59000e+00],
       [0.00000e+00],
       [2.77000e+00],
       [1.46800e+01],
       [4.05400e+01],
       [1.08200e+01],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [1.95000e+00],
       [4.95900e+01],
       [5.80000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [0.00000e+00],
       [2.17000e+00],
       [4.30000e-01],
       [0.00000e+00],
       [6.44000e+00],
       [5.42900e+01],
       [1.11600e+01],
       [0.00000e+00],
       [0.00000e+00]])

In [16]:
print(X.size_category.value_counts())
X['size_category'] = X['size_category'].map({'small': 0, 'large': 1})

size_category
small    378
large    139
Name: count, dtype: int64

In [18]:
X[['month','day']]

    month  day
0     mar  fri
1     oct  tue
2     oct  sat
3     mar  fri
4     mar  sun
..    ...  ...
512   aug  sun
513   aug  sun
514   aug  sun
515   aug  sat
516   nov  tue

[517 rows x 2 columns]

In [24]:
mon_dmmy = pd.get_dummies(X['month']).astype ('int')
day_dmmy = pd.get_dummies(X['day']).astype ('int')
#mon_dmmy
day_dmmy

     fri  mon  sat  sun  thu  tue  wed
0      1    0    0    0    0    0    0
1      0    0    0    0    0    1    0
2      0    0    1    0    0    0    0
3      1    0    0    0    0    0    0
4      0    0    0    1    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
512    0    0    0    1    0    0    0
513    0    0    0    1    0    0    0
514    0    0    0    1    0    0    0
515    0    0    1    0    0    0    0
516    0    0    0    0    0    1    0

[517 rows x 7 columns]

In [21]:
print (mon_dmmy.columns)
print (day_dmmy.columns)

Index(['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov',
       'oct', 'sep'],
      dtype='object')
Index(['fri', 'mon', 'sat', 'sun', 'thu', 'tue', 'wed'], dtype='object')

In [26]:
X2 = pd.concat([X.drop(['month', 'day'], axis=1), mon_dmmy, day_dmmy], axis=1)

In [27]:
X2

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,dayfri,daymon,...,nov,oct,sep,fri,mon,sat,sun,thu,tue,wed
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,1,0,...,0,0,0,1,0,0,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,0,0,...,0,0,0,0,0,0,1,0,0,0
513,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,0,0,...,0,0,0,0,0,0,1,0,0,0
514,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,0,0,...,0,0,0,0,0,0,1,0,0,0
515,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,0,0,...,0,0,0,0,0,1,0,0,0,0
516,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [28]:
sc = StandardScaler()

In [29]:
X = sc.fit_transform(X2) ## scaling data

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) ## splitting data

In [31]:
# model building
model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1)
])

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [32]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [35]:
###### Training on GPU
import time
with tf.device('/device:GPU:0'):
    start_time = time.time()
    history = model.fit(X_train, y_train, epochs=50, batch_size=64, validation_split=0.2, verbose=0)
    end_time = time.time()
#calc time
gpu_time = end_time - start_time
print("GPU training time:", gpu_time, "seconds")

GPU training time: 4.934113502502441 seconds

In [34]:
with tf.device('/device:CPU:0'):
    start_time = time.time()
    history = model.fit(X_train, y_train, epochs=50, batch_size=64, validation_split=0.2, verbose=0)
    end_time = time.time()
#calc time
gpu_time = end_time - start_time
print("CPU training time:", gpu_time, "seconds")

InvalidArgumentError: Graph execution error:

Detected at node StatefulPartitionedCall defined at (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main

  File "<frozen runpy>", line 88, in _run_code

  File "/usr/local/lib/python3.12/dist-packages/colab_kernel_launcher.py", line 37, in <module>

  File "/usr/local/lib/python3.12/dist-packages/traitlets/config/application.py", line 992, in launch_instance

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelapp.py", line 712, in start

  File "/usr/local/lib/python3.12/dist-packages/tornado/platform/asyncio.py", line 211, in start

  File "/usr/lib/python3.12/asyncio/base_events.py", line 645, in run_forever

  File "/usr/lib/python3.12/asyncio/base_events.py", line 1999, in _run_once

  File "/usr/lib/python3.12/asyncio/events.py", line 88, in _run

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 510, in dispatch_queue

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 499, in process_one

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 406, in dispatch_shell

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/kernelbase.py", line 730, in execute_request

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/ipkernel.py", line 383, in do_execute

  File "/usr/local/lib/python3.12/dist-packages/ipykernel/zmqshell.py", line 528, in run_cell

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 2975, in run_cell

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 3030, in _run_cell

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 3257, in run_cell_async

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 3473, in run_ast_nodes

  File "/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py", line 3553, in run_code

  File "/tmp/ipython-input-3313492023.py", line 5, in <cell line: 0>

  File "/usr/local/lib/python3.12/dist-packages/keras/src/utils/traceback_utils.py", line 117, in error_handler

  File "/usr/local/lib/python3.12/dist-packages/keras/src/backend/tensorflow/trainer.py", line 377, in fit

  File "/usr/local/lib/python3.12/dist-packages/keras/src/backend/tensorflow/trainer.py", line 220, in function

  File "/usr/local/lib/python3.12/dist-packages/keras/src/backend/tensorflow/trainer.py", line 133, in multi_step_on_iterator

Trying to access resource sequential/dense/kernel/0 (defined @ /usr/local/lib/python3.12/dist-packages/keras/src/backend/tensorflow/core.py:42) located in device /job:localhost/replica:0/task:0/device:GPU:0 from device /job:localhost/replica:0/task:0/device:CPU:0
 Cf. https://www.tensorflow.org/xla/known_issues#tfvariable_on_a_different_device
	 [[{{node StatefulPartitionedCall}}]] [Op:__inference_multi_step_on_iterator_1625]

In [39]:
loss_gpu, mae_gpu = model.evaluate(X_test, y_test)
print("GPU Loss:", loss_gpu)
print("GPU MAE:", mae_gpu)

4/4 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 9ms/step - loss: 9585.3584 - mae: 19.9663
GPU Loss: 9810.1591796875
GPU MAE: 20.588123321533203

In [41]:
from sklearn.metrics import r2_score
y_pred_gpu = model.predict(X_test)
r2_gpu = r2_score(y_test, y_pred_gpu)
print(r2_gpu)

4/4 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 8ms/step
0.16776742974033998